<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if userId %}
        <div">User id: {{ userId }}</div>
        <br>
    {% endif %}
    {% if userName %}
        <div">User name: {{ userName }}</div>
        <br>
    {% endif %}
    <div style="font-weight: bold;">Recent photo:</div>
    <br>
    <img src={{ recentPhotoLink }} width="500" height="600">
</body>

</html>