{% extends "layout.html" %}
{% block content %}
    <form action="/rover/form/response" method="post">
        <label for="user_id">{{ userIdLabel }} </label>
        <input id="user_id" type="text" name="user_id" />
        <br>
        <label for="user_name">{{ userNameLabel }} </label>
        <input id="user_name" type="text" name="user_name" />
        <br>
        <label for="api_key">{{ userApiKeyLabel }} </label>
        <input id="api_key" type="text" name="api_key" />
        <br>
        <input type="submit" value="OK" />
    </form>
{% endblock %}